[2016-05-03 03:01] dcrreynolds opened #2 "Translate in ConvertTo-LocalFriendlyName fails when it cannot translate a SID and causes Test-TargetResource to fail"
Many older images or servers have abandoned SIDs that cannot be translated. When one is found an exception is thrown by translate causing the resource to fail even when actually setting the correct policy.

[2016-07-15 13:38] GoateePFE commented on #2
I was just now going to log the same issue. Please add some graceful error handling. SIDs may also come from unreachable trusted domains.

[2016-08-24 22:40] jcwalker commented on #2
error handling has been added for this scenario

[2016-08-24 22:40] #2 closed

[2016-11-02 23:03] zjalexander opened #4 "SecInf Test-TargetResource can return value other than true"
https://github.com/jcwalker/SeceditDsc/blob/dev/DSCResources/MSFT_SecInf/MSFT_SecInf.psm1#L100
https://github.com/jcwalker/SeceditDsc/blob/dev/DSCResources/Library/Helper.psm1#L211
Ralph Kyttle reported the following issue to me on WS2016, and I think it's in the above lines of code - the output of secedit.exe can return a value which PS treats as a return in the function. Piping to out-null shoul

[2016-11-03 17:09] jcwalker commented on #4
Made the suggested corrections @zjalexander suggested to MSFT_SecInf.psm1 but not to Helper.psm1 as the line of code in question is not executed in Test-TargetResource.

[2016-11-04 19:58] rkyttle commented on #4
Thanks Jason!  I was able to test and this is working correctly now.

[2016-11-04 20:26] #4 closed

[2017-02-04 06:14] megamorf opened #13 "Basic_USR_Example has ambiguous user domain names"
https://github.com/PowerShell/SecurityPolicyDsc/blob/6e3d6d9d71c3866cf11af2581899098494f1c6f7/Examples/Basic_USR_Example.ps1#L14 mentions the 'whlab' domain whereas in [line 18](https://github.com/PowerShell/SecurityPolicyDsc/blob/6e3d6d9d71c3866cf11af2581899098494f1c6f7/Examples/Basic_USR_Example.ps1#L18) only contoso is used.

[2017-02-08 22:51] zjalexander opened #15 "SecurityTemplate not Nano-compatible"
Test-TargetResource for the SecurityTemplate resource calls Get-UserRightsAssignment which calls ConvertTo-LocalFriendlyName which finally calls Get-WmiObject, which is not present on Nano Server (https://technet.microsoft.com/en-us/windows-server-docs/get-started/powershell-on-nano-server)

This means the scenario, "apply security baseline settings to Nano Server" can't run on Nano Server.

[2017-02-08 23:28] zjalexander opened #16 ""Path" parameter fails"
Repro:
This file comes from the WS2016 security baselines https://blogs.technet.microsoft.com/secguide/2016/10/17/security-baseline-for-windows-10-v1607-anniversary-edition-and-windows-server-2016/ (specifically the 2016 member server computer baseline)
[audit.zip](https://github.com/PowerShell/SecurityPolicyDsc/files/762229/audit.zip)

[code]

when executing on WS2016 Server Desktop + Nano Server

[2017-02-17 21:38] bdanse opened #19 "Request : SecurityTemplate include FileHash parameter"
From a security point of view, how do I know the file that is being imported is not modified.
A filehash check would be a nice addition to this great module.

For example run get-filehash against "C:\scratch\SecurityPolicyBackup.inf". And include the Hash result in the resource.

Configuration

 CompareInfs
{
    Import-DscResource -ModuleName SecurityPolicyDsc

    node localhost
    {
        Se

[2017-02-18 01:23] #16 closed

[2017-02-18 01:23] #15 closed

[2017-02-21 18:46] zjalexander commented on #19
discussion is at https://github.com/PowerShell/GPRegistryPolicy/issues/2

[2017-03-09 11:39] PaulBendall opened #27 "Request : Expand to wrap around LGPO.exe?"
The work here is so close to what I was looking for in managing server security using DSC. Have you looked and thought about expanding the project to wrap around LGPO.exe - https://blogs.technet.microsoft.com/secguide/2016/09/23/lgpo-exe-v2-0-pre-release-support-for-mlgpo-and-reg_qword/

[2017-03-10 23:43] brwilkinson opened #28 "Anyway to not overwrite the current values?"
Can we add the option to not remove the current settings when adding new identities for UserRightsAssignment

[2017-03-14 15:58] jcwalker commented on #28
The resource was first written to behave in that way but I got feedback asking to overwrite so the admin could be certain there were not any unwanted identities assigned to the policy.

[2017-03-14 23:06] zjalexander commented on #28
@brwilkinson can you explain a little more how you are using or plan to use this resource? Where are any existing identities with User Rights Assignments coming from? Are they default identities on the machine or are they coming from e.g. Group Policy?

[2017-03-15 00:08] brwilkinson commented on #28
They are the default identities on the machine.

[2017-03-15 00:28] brwilkinson commented on #28
for the following account "NT SERVICE\ALL SERVICES" is the default for local right "Log_on_as_a_service"

I want to add another service account in there E.g. "Contoso\appservice".

I don't want to have to specify:
 identity     = "Contoso\appservice","NT SERVICE\ALL SERVICES"
I just want to specify the additional account
identity     = "Contoso\appservice"

So I think there should be a attribute w

[2017-03-15 23:16] zjalexander commented on #28
got it, thanks. just needed to make sure I understood the exact situation.

[2017-03-20 22:51] randomnote1 commented on #28
I agree with @brwilkinson on this one. Maybe add an Ensure parameter that accepts Present, Absent, and Exactly. Present would ensure that the specified accounts are added to the right, Absent would ensure the specified accounts are removed from the right, and Exactly would ensure the specified accounts are the only accounts that have the right. Exactly would mimic how group policy applies.

[2017-03-22 17:29] zjalexander commented on #28
The parameter we discussed previously was "Force". Because Ensure is a common parameter across many DSC resources, I'm not sure how to feel about adding into that enum. @kwirkykat or @mbreakey3 might have more nuanced opinions on the matter.

but, anyway, this is a good change to make

[2017-03-22 17:43] kwirkykat commented on #28
@brwilkinson @jcwalker @zjalexander @randomnote1 I definitely not add another enum value to an Ensure property. Instead I would suggest adding an IdentitiesToInclude parameter and an IdentitiesToExclude parameter similar to how this is taken care of in the [Group resource schema](https://github.com/powershell/psdscresources#group) with Members, MembersToInclude, and MembersToExclude.

[2017-03-22 18:49] michaeltlombardi commented on #28
I would argue that it is probably an anti-pattern to have a configuration item apply additively instead of exactly - it doesn't seem like a whole lot of additional work to add the explicit identities but it _does_ help someone reading through the configuration later.

I'd rather check a config and see three identities matching those on my server than just one with possibly stale identities/setting

[2017-03-22 19:45] brwilkinson commented on #28
okay I was thinking that a single Force parameter would be good enough as @zjalexander suggested.

However I actually like the way that the xGroup resource works as @kwirkykat linked to.

Either of these would work, however the second method would provide additional functionality, that I could see would be useful. i.e. to be able to explicitly remove as well as add.

So my vote would be with the 3

[2017-03-24 15:53] randomnote1 commented on #28
@kwirkykat, What's the reasoning behind not adding another enum value to Ensure? Just curious.

I'm on board for using the 3 parameters.

[2017-03-24 23:04] kwirkykat commented on #28
@randomnote1 It would be a breaking change for the resource because any scripts that currently declare Ensure as Present would go from overwriting all identities to merely adding on any missing identities.

If we were still back writing this resource from scratch, it would be more acceptable, but I would still suggest the 3 parameter model instead just for consistency with all the other DSC resour

[2017-03-29 18:41] mtrog opened #29 "SecurityTemplate bug"
There is a potential issue within the DSCResource "SecurityTemplate" -

In the function "ConvertTo-LocalFriendlyName" found in SecurityPolicyResourceHelper.psm1.
Line 165 of SecurityPolicyResourceHelper.psm1 says:
"if ($null -ne $id -and $id -match 'S-')"

There are Security settings that can match this statement but not be a System.Security.Principal.SecurityIdentifier.  A good example of this is

[2017-04-04 21:40] mtrog opened #30 "Invoke-Secedit issue"
If the path passed to invoke-secedit contains special characters ('{' or '}' specifically), the secedit command fails.

To fix, $userRightsToAddInf should be surrounded by escaped quotes (or something similar) - Line 89 of SecurityPolicyResourceHelper.psm1.

[2017-04-26 15:25] Stangg187 opened #33 "False negative on UserRightsAssignment"
[code]
DSC reports:
`PowerShell DSC resource MSFT_UserRightsAssignment  failed to execute Set-TargetResource functionality with error message: Task did not complete successfully. See log %windir%\\\\security\\\\logs\\\\scesrv.log for detail info.  The SendConfigurationApply function did not succeed.`

However the rights assignment did complete successfully.  scesrv.log shows only successes and the

[2017-05-11 20:37] Jsbelanger35 opened #34 "UserRightAssigment Bug"
in the file MSFT_UserRightsAssignment.psm1

the line 471
$currentUserRights = ([System.IO.Path]::GetTempFileName()).Replace('tmp','inf')

after some time, The resources use all the "inf" filenames disponible and the resource fails.

My workaround has been to always use the same filename.

[2017-05-30 06:03] BernieWhite opened #35 "ConvertTo-LocalFriendlyName incorrectly handles user or group names containing 'S-'"
User or group accounts that contain __S-__ in their name are incorrectly treated as a SID and translated.

Translation fails with a warning similar to the following.

The issue occurs because the regular expression `($null -ne $id -and $id -match 'S-')` matches any part of the string, instead of the beginning.

[2017-06-02 14:40] lloydsmithjr03 opened #39 "SecuritySetting Get-IniContent returning untrimmed values"
When the DSC Resource is testing the ini file values, the values are being returned with a space in front of them causing the test to fail.

[code]

[2017-06-07 18:08] #35 closed

[2017-06-07 18:08] #39 closed

[2017-06-07 21:42] BernieWhite commented on #35
@jcwalker  Ah, how would this actually fix the issue?

[2017-06-08 08:39] BernieWhite commented on #33
Scesrv.log may not contain information, it is a generic message that is provided anytime the set fails. It is resource in the desired state?

[2017-06-08 08:51] BernieWhite opened #41 "DomainControllerSecurityOptions"
If nobody has started working on something simular I would like to add a _DomainControllerSecurityOptions_ resource to configure the _Domain Controller:_ marked settings within Local Policies > Security Options of the Local Security Policy.

My approach would be to provide named properties as a IsSingleInstance resource to each setting, and use a ValidateSet for each option to provide mapping to e

[2017-06-22 23:04] nofate301 opened #42 "UserRightsAssignement"
Was using this with Azure DSC.  Server 2012R2 VM.  It worked perfectly, but Azure reported that nothing was compliant even though I reviewed and confirmed the rights had been assigned correctly.

Not sure if there is something at issue with the Resource or Azure, but it was very confusing.

[2017-07-03 20:09] nofate301 commented on #42
This is also happening with Azure's 2008 HUB image.  Everything looks good after application, but Azure is reporting the following on each item.

`{
    "Exception":  {
                      "Message":  "PowerShell DSC resource MSFT_UserRightsAssignment  failed to execute Set-TargetResource functionality with error message: Task did not complete successfully See log %windir%\\security\\logs\\scesr

[2017-07-05 12:55] sam-cogan opened #43 "Overwrite Values"
Is there a way to have this resource apply exactly what you define in the DSC file? It seems at the moment even when using the "force" flag it still appends to existing values rather than overwriting. For example, trying to set "Bypass Traverse Checking" to what is defined in the MS security baseline, which does not include the everyone group, still results in the everyone group being present.
Thi

[2017-07-06 19:45] jcwalker commented on #42
@nofate301 can you provide an example of the property values for the UserRightsAssignment resource?
Is the identities you are assigning the policy to local or domain accounts?

[2017-07-06 19:58] nofate301 commented on #42
below are some of the configuration nodes.

UserRightsAssignment Access_this_computer_from_the_network
{
Identity = '*S-1-5-32-551','*S-1-5-32-544','*S-1-5-11'
Policy = 'Access_this_computer_from_the_network'
Ensure = 'Present'
Force = $True
}

UserRightsAssignment Adjust_memory_quotas_for_a_process
{
Identity = '*S-1-5-32-544','*S-1-5-20','*S-1-5-19'
Policy = 'Adjust_memory_quotas_for_a_process'

[2017-07-06 20:28] jcwalker commented on #42
@nofate301 I think I found the issue.  The asterisk in front of the SID is not being taken into account during Test-TargetResource but if I removed the asterisk Set-TargetResource would fail. So we need to add the code to handle that scenario.  There is a similar issue (#33) opened by @Stangg187.  The Test-TargetResource fails because of the computer name in front of the local user ex. (localhost\

[2017-07-06 20:59] nofate301 commented on #42
I'll yank the asterix from my config and give that a shot.  Again, the
configuration took, Azure just reported non-compliance.

On Thu, Jul 6, 2017 at 4:28 PM, Jason Walker <notifications@github.com>
wrote:

[2017-07-07 00:18] jcwalker commented on #42
@nofate301 I added the code to fix your issue to the dev branch.  Can you test the code in the dev branch to confirm or deny the fix?

[2017-07-07 16:17] nofate301 commented on #42
Ok so, I pulled the asterix and attempted to use what was there.  I got locked out of the server and could not log in.  I managed to pull the log through some luck and re-gain access by using the configuration with the asterix.

`-------------------------------------------
Friday, July 7, 2017 4:12:30 PM
----Configuration engine was initialized successfully.----

----Reading Configuration Template

[2017-07-07 16:23] jcwalker commented on #42
@nofate301 yes I'm experiencing the same, the asterisks are required.  The dev branch should fix run without errors now when an asterisks is included with a SID

[2017-07-07 16:28] nofate301 commented on #42
Here's the error I receive when trying to upload the zip file of the dev branch to Azure

Error extracting the activities from module SecurityPolicyDsc. Extraction failed with the following error: Orchestrator.Shared.AsyncModuleImport.ModuleImportException: An error occurred during module validation. When importing the module to an internal PowerShell session, it was not able to be loaded by Power

[2017-07-07 16:34] jcwalker commented on #42
@nofate301 Hmm...I am able to successfully import every module in SecurityPolicyDsc.  Is folder name inside the zip SecuirtyPolicyDsc-dev?  If so rename it to simply SecurityPolicyDsc.

[2017-07-07 17:18] nofate301 commented on #42
Alright, got it imported, I changed the folder name.

I tried with a configuration without Asterix, and the log puked

`-------------------------------------------
Friday, July 7, 2017 5:09:45 PM
----Configuration engine was initialized successfully.----

----Reading Configuration Template info...

----Configure User Rights...
		SeInteractiveLogonRight must be assigned to administrators. This sett

[2017-07-07 19:05] nofate301 commented on #42
Got it uploaded.  The configuration without an asterix errors out hard and appears to remove all the rights that I set and pretty much denies all access to the host.

When I apply
UserRightsAssignment Access_this_computer_from_the_network
{
Identity = '*S-1-5-32-551','*S-1-5-32-544','*S-1-5-11'
Policy = 'Access_this_computer_from_the_network'
Ensure = 'Present'
Force = $True
}
I get
![image](https

[2017-07-07 19:57] jcwalker commented on #42
@nofate301  Does Azure show the VM is non-compliant because of that resource?  Is there another resource in your configuration script? When I run the following:
[code]
The configuration completes without error.

[2017-07-07 20:11] nofate301 commented on #42
Here's a screenshot of well, everything

![image](https://user-images.githubusercontent.com/24656618/27975133-f5e3e48a-632e-11e7-987b-c024c446aab5.png)

[2017-07-07 20:47] jcwalker commented on #43
Hi @sam-cogan There is a Force parameter on the UserRightsAssignment resource that will apply the exact identities.
[code]

[2017-07-07 20:54] jcwalker commented on #30
Hi @mtrog can you provide repo steps?  $userRightToAddInf is assigned privately and can't be changed from the configuration script.

[2017-07-07 21:00] jcwalker commented on #28
UserRightsAssignment now has a optional Force parameter.  When set to true will apply only the identities in the configuration script.  If Force isn't specified the identities will be appended.  If nobody objects I'm going to close this issue.

[2017-07-07 21:12] jcwalker commented on #29
@mtrog have you ran into this? If so can you provide detailed repo steps? ConvertTo-LocalFriendlyName will only address arguments that are Identities of user rights assignments.  If you have a repo where this isn't the case please let me know.

[2017-07-07 21:24] jcwalker commented on #42
It's like the VM or Azure is still using the old code.

[2017-07-07 21:37] sam-cogan commented on #43
That's my point, I am using the Force parameter, but it doesn't work as I expect, it doesn't replace the current values, it appends. If the force parameter is supposed to work in that way then I need to look more into why the end result differs from what is expected. Thanks.

[2017-07-07 21:52] nofate301 commented on #42
Maybe it is.  I'd have to upload the module manually to the server in question I believe to get this working.  I mean, my guess is the import function can't call the dev branch.

[2017-07-11 16:00] hackjammer commented on #35
Can you please merge this to master / push to PSGallery?

We're relying on this module and PSGallery as part of our DSC pipeline and the current PSGallery version has some serious bugs fixed by these commits that make it unusable.

Thanks!

[2017-07-13 11:14] lara400 opened #47 "Can't get any SecuritySetting to function"
I am probably being thick but on a Windows Server 2012 host (I have not tested on 2016 yet) I just cannot get any of the `SecuritySetting ` resources to work. For example, I run the below to set the `MaximumPasswordAge `to `100 `and it just does not set. When I run `Get-DSCResource `it still shows the old value and creates a new `Name = MaximumPasswordAge  `in the results?

Any idea where I am goi

[2017-07-22 03:13] scottmckenzie commented on #33
I am experiencing the same problem.  The resource is in the desired state it's just that DSC is reporting failure.  Here is the relevant snippet of the DSC .details.json file:
[code]

This is the config I am using:
[code]

[2017-07-22 12:17] jcwalker commented on #33
@scottmckenzie what version of the module are you running?
Get-Module SecurityPolicyDsc -ListAvailable

[2017-07-23 22:53] scottmckenzie commented on #33
1.4.0.0.  The target resource is Windows Server 2016.

[2017-07-24 18:45] aydeisen commented on #47
Is this the entire hashtable for the resource?  If so, it looks like you're missing Ensure.  What happens if you do this:
`
Import-DscResource –ModuleName 'PSDesiredStateConfiguration'
Import-DscResource –ModuleName 'SecurityPolicyDsc'
Import-DscResource -ModuleName 'AuditPolicyDsc'

Node $Nodename {
	SecuritySetting MaximumPasswordAge {
		Name = "MaximumPasswordAge"
		MaximumPasswordAge = "100"

[2017-07-26 22:02] aromano2 opened #48 "Test-TargetResource UserRightsAssignment never passes"
The set-targetresource works but re-running the configuration the resource continuously shows as not in desired state if adding a domain account.

[2017-08-03 21:36] scottmckenzie commented on #33
Fixed by 9fc3a5b52756e963582c68b7522c6c920cc7667e?  Can we have a new release with this fix please?

[2017-08-09 16:39] mcmcghee commented on #33
FYI I'm using the fix in #9fc3a5b and I'm seeing the issue. Using dev branch on Server 2016.

[2017-08-11 15:48] lara400 commented on #47
I tried Ensure but I get the same issue. I think there is definitely something amiss here in one of the functions - it's just not updating any of the values that I want. Each time I try and put a different value it creates a new INF and SDB file but when I run test-dsconfiguration it just keeps on returning failed.

[2017-08-16 06:28] athaynes commented on #19
@zjalexander Can we also close this issue based on the conversation at https://github.com/PowerShell/GPRegistryPolicy/issues/2

[2017-08-16 11:18] mcollera opened #51 "Setting User Rights Assignments for builtin Identites"
When trying to set User Rights Assignments for built-in and NT Authority Identities on a domain joined computer the account gets prefixed with the domain name during Test-TargetResource. i.e. Contoso\NT Authority\Administrator

[2017-08-18 00:24] zjalexander commented on #19
also yes :)

[2017-08-18 11:45] #19 closed

[2017-08-18 11:46] #48 closed

[2017-08-18 17:43] #28 closed

[2017-08-21 21:01] #51 closed

[2017-08-21 21:02] #34 closed

[2017-08-21 21:03] #13 closed

[2017-08-21 21:03] #30 closed

[2017-08-25 21:21] BernieWhite commented on #28
Not sure if this is already released but should be a major version increment, breaking change

[2017-08-25 22:45] nlsdg commented on #29
This has been fixed by PR #36. Please check with a current release.

[2017-08-26 16:02] #33 closed

[2017-09-20 19:00] Fuzail92 opened #57 "Facing issue in DSC script for xSQLServerDatabase resource compiling in Azure under Automation (DSC Configuration)"
Error:
Exception calling "NewScriptBlock" with "1" argument(s): "At line:5 char:1
+ Import-DscResource -ModuleName xSQLServerDatabase
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Could not find the module 'xSQLServerDatabase'.

 At line:11 char:6
+ xSQLServerDatabase Create_Database
+ ~~~~~~~~~~~~~~~~~~ Undefined DSC resource 'xSQLServerDatabase'. Use Import-DSCResource to import the resour

[2017-10-09 17:07] aydeisen opened #60 "Spelling Error in AccountPolicy resource"
I know it's a minor change with a major impact to anyone using version 2.0.0.0, but can the spelling for '**Enfore**_user_logon_restrictions' be corrected to '**Enforce**_user_login_restrictions'?

[2017-10-09 18:26] jcwalker commented on #60
@aydeisen good catch. The dev branch has been updated.

[2017-10-09 19:58] jcwalker commented on #57
@Fuzail92 did you intend to post this to the SecurityPolicyDsc repo?

[2017-10-09 23:31] aydeisen commented on #60
Thank you.  One more under the Security Option resource:

Interactive_logon_Require_Domain_Controller_authenticatio_to_unlock_workstation should be Interactive_logon_Require_Domain_Controller_authentication_to_unlock_workstation

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Jason Walker<mailto:notifications@github.com>
Sent: Monday, October 9, 2017 14:26
To:

[2017-10-10 20:14] aydeisen opened #61 "User Rights Assignment not honoring Force parameter"
When I updated SecurityPolicyDsc from 1.5.0.0 to 2.0.0.0, the User Rights Assignments in my DSC script began to overwrite the existing User Rights, even though the Force parameter is not specified.

Was there a change in the new module where the UserRightsAssignment assumes it's being forced by default?  Also, what additional information do you need from me to assist in troubleshooting?

My User R

[2017-10-10 20:31] aydeisen opened #62 "SecurityOptions not applying"
I'm receiving the following error when the SecurityOptions Resource in the 2.0.0.0 version of the SecurityPolicyDsc module is used:

[code]

SCESRV.LOG has the following error:
[code]

What additional information do you need from me to help resolve this issue?

The SecurityOption portion of my DSC script:

[code]

[2017-10-10 21:40] jcwalker commented on #61
@aydeisen Force is set to $false be default.  I verified this to be working properly in my lab.
Are you seeing this on every UserRightAssignment policy or only on certain policies?

[2017-10-10 21:47] aydeisen commented on #61
@jcwalker The 'Logon As A Service" permission has stood out.  When applying the DSC, any other permission assigned has been wiped (validated using GPEdit).

As with the others, that User Rights Assignment does not have a Force flag:
[code]

[2017-10-10 23:00] jcwalker commented on #62
@aydeisen I literally spun up a VM and copy/paste your configuration and it ran without error.  The only thing that I could not replicate is what you have in  $LegalNoticeText.  Can you confirm that the error is occurring while setting 'Interactive_logon_Message_text_for_users_attempting_to_log_on' ?

[2017-10-11 00:29] aydeisen commented on #62
@jcwalker I'm not sure why it's not reproducing.  This is the full script (with the contents of the $LegalNoticeText  variable), and it's being hosted on Azure Automation DSC in East US, if that makes a difference:

[code]

[2017-10-11 00:40] jcwalker commented on #62
The issue is definitely with the Interactive_logon_Message_text_for_users_attempting_to_log_on  policy.  I get a repo with the exact error when I use your text for the logon message.

[2017-10-14 16:51] mkht opened #63 "[SecurityOption] Error in "Accounts_Block_Microsoft_accounts""
## Issue
Error occurred when try to configure `Accounts_Block_Microsoft_accounts` in `SecurityOption`  resource.

## Step to reproduce
+ Run script below.
[code]
+ Then, error occurred.
[code]

## Cause
As I guess, the cause of this issue is that the strings in the [SecurityOptionData.psd](../blob/77e2594daf74c9e0c6305d9fc62e3f764a897dc1/DSCResources/MSFT_SecurityOption/SecurityOptionData.psd1#L18

[2017-10-14 18:25] jcwalker commented on #63
@mkht thanks for the thorough repro.  The fix has been committed to the dev branch.

[2017-10-15 03:48] mkht commented on #63
Thanks @jcwalker! I confirmed that it works correctly.
I expect to be published to the PowerShell Gallery shortly. 😉

[2017-10-15 13:03] #63 closed

[2017-10-15 15:02] jcwalker commented on #62
@aydeisen A couple of things are going on with this issue.  First off the SecurityPolicyDsc is a wrapper around secedit.exe.  Secedit.exe uses an INI file with security policies and their associated values (key value pair).  The value to a policy must be on one line.  If the message is a multiple line message a comma is used for the line break and if a comma is intended for grammar it must be surr

[2017-10-18 16:26] aydeisen commented on #62
@jcwalker: The changes in the Dev branch worked to resolve the issue with the legal text, and I'm no longer receiving an error for those settings.  However, I'd prefer to wait for those changes to be packaged in a release before I push them to my environment.

[2017-10-19 14:38] stephensmalls opened #66 "Network_security_Configure_encryption_types_allowed_for_Kerberos"
I noticed that this SecurityOption does not allow for 'Future encryption types' to be selected.

[code]

But this article from Microsoft explains how to enable that setting.
[(https://blogs.technet.microsoft.com/petergu/2013/04/14/interpreting-the-supportedencryptiontypes-registry-key/)]

Any plans to include this setting?

[2017-10-21 23:08] jcwalker commented on #66
Hi @stephensmalls no plans at this time.  If there is a high demand for this we can include it in the future.

[2017-11-17 03:55] regedit32 opened #69 "Get-DscConfiguration fails when UserRightAssignment returns a single string for Identity"
The following config will cause Get-DscConfiguration to fail:

[code]
The error would be Get-DscConfiguration : GetConfiguration did not succeed.  This is because the parameter $Identity is of type [System.String[]].

This can be fixed in the Get-UserRightPolicy function by casting Identity as an array in the return object:
[code]

[2017-11-18 21:28] ppandiya opened #71 "Set-TargetResource is not working if we change the default values in AccountPolicy DSCResource"
Hi Team,

I am trying to update Password policies using AccountPolicy resource. But if i change the default value in the parameter it fails. Example Minimum_Password_Length from 12 to 16 . When the values match the default values in Password Policy my configuration succeeds(Obviously). Please find the configuration below.

[code]

The above configuration fails with the below log.

[code]

[2017-11-26 15:13] #69 closed

[2017-11-26 15:22] jcwalker commented on #71
Hi @ppandiya the minimum password length allowed by the OS is 14 characters.  This is documented here - https://technet.microsoft.com/en-us/library/hh994560(v=ws.11).aspx

[2017-12-05 14:56] bobbytreed opened #73 "Exception when No Administrator account"
Apparently due to a back and forth debate over how ForEach processes $null, there is an issue when no local administrator group is returned.

The following code needs to be in an if statement like so.:
if ($users -ne $null)
{
                    $accounts += $users | ForEach-Object {(Get-CimInstance win32_useraccount -Filter "Caption='$($_.Replace("\", "\\"))'").SID}
}

I will fix this and submit

[2017-12-05 14:57] bobbytreed commented on #73
Also, need guidance on how Translation exceptions should occur.
Assume that the UserRights wants to assign a right to IIS APPPOOL\DefaultAppPool which might/might not exist depending on if IIS is activated.
Should the code trigger an exception (current logic), or handle it quietly and return false.

[2017-12-15 11:48] #62 closed

[2017-12-15 11:50] #60 closed

[2017-12-15 11:50] #57 closed

[2017-12-15 11:53] #42 closed

[2017-12-15 11:59] jcwalker commented on #61
@aydeisen are you still seeing this issue? I can't reproduce this in my lab.

[2017-12-15 12:06] jcwalker commented on #73
@bobbytreed what is the issue exactly?  Does the exception occur when there is no administrator account or administrators group?

And I agree there needs to be some discussion on how to handle translation exceptions. I'll open a separate issue to get the community's input.

[2017-12-15 22:51] Safetybrick opened #75 "Import from Azure Automation Gallery Missing resources"
Imported the latest version (2.1.0.0) of the resource from the gallery which displays all of the resources but once imported under the Automation account only AccountPolicy is displayed.

[2017-12-19 09:52] johlju commented on #75
The same problem occurs for SqlServerDsc. But the the resources can still be used to compile configurations. Even if they are not are shown, please try to use them.

[2017-12-20 16:35] goforebroke opened #76 "UserRightsAssignment : SendConfigurationApply function did not succeed."
The following is error is thrown adding when adding a domain group to Perform Volume Maintenance user rights assignment.

The SendConfigurationApply function did not succeed.
    + CategoryInfo          : NotSpecified: (root/Microsoft/...gurationManager:String) [], CimException
    + FullyQualifiedErrorId : MI RESULT 1
    + PSComputerName        : XXXXXXXXX

The local configuration manager on the

[2017-12-21 18:27] Safetybrick commented on #75
Thanks johlju, i put together a test configuration and they worked.

[2017-12-21 18:27] #75 closed

[2017-12-29 09:03] hackjammer commented on #76
This is due to lack of error handling in ConvertTo-NTAccount - see e.g. https://github.com/PowerShell/SecurityPolicyDsc/pull/74

Depending on the exact cause (missing translation or orphaned sid) you may be able to temporarily get around this by removing any orphaned sids from user rights assignment

[2018-01-03 16:33] #29 closed

[2018-01-03 22:32] jcwalker opened #78 "How to properly handle SID translation failures"
I would like to get feedback from the community on the best way to handle SID translation exceptions.  Currently the resource will throw an exception if a SID cannot be translated.  There have been requests/suggestions that this behavior should be changed to silently handle the exception and have Test-TargetResource return false.  In both cases the configuration will need to be updated.  The way t

[2018-01-04 09:30] mattanguige opened #79 ""." appears to break SecurityOption"
An error is presented when attempting to set the "Network_security_LAN_Manager_authentication_level" SecurityOption to either "Send NTLMv2 response only. Refuse LM" or "Send NTLMv2 response only. Refuse LM & NTLM". All other available values (without the "." character) appear to work correctly, so I believe this is an issue with the "." being stripped out somewhere.

[2018-01-10 16:06] ewhitesides opened #80 "Define acceptable values"
Many of the policy settings have Parameters that simply just accept [string], so as the user of this module I'm not sure what I should be putting in as the string to Enable/Disable a setting.

[2018-01-10 18:35] ewhitesides opened #81 "Account Policy errors"
The following settings in AccountPolicy seem to be defined by the Default Domain GPO policy already, so you get an error when you try to define them in DSC on a domain connected computer.  Perhaps this should mentioned somehow in an example for clarification?

Enforce_user_logon_restrictions
Maximum_lifetime_for_service_ticket
Maximum_lifetime_for_user_ticket
Maximum_lifetime_for_user_ticket_renew

[2018-02-06 17:10] hackjammer commented on #78
I would prefer a Write-Warning alongside returning false - as of right now, throwing during Test-TargetResource means that Set doesn't run - which is more problematic. There are many examples of cases where SIDs will not get translated where nothing needs to be explicitly fixed (e.g. temporary accounts) - not applying the configuration is bad, reapplying with a warning is far better.

[2018-02-09 13:42] jcwalker commented on #78
I would argue that something does need to get explicitly fixed.  Even if the we write a warning and return false the node will not be in compliance until the configuration script is updated and the identity that cannot be resolved is removed or corrected.

[2018-02-15 14:52] jcwalker commented on #80
@ewhitesides are you referring to policies in SecurityOption?

[2018-02-15 17:47] #61 closed

[2018-02-15 18:00] jcwalker commented on #47
Closing this issue as SecuritySetting has been replaced with SecurityOption

[2018-02-15 18:00] #47 closed

[2018-02-15 18:04] jcwalker commented on #41
Closing this issue because the functionality specified already exists

[2018-02-15 18:04] #41 closed

[2018-02-15 18:16] jcwalker commented on #79
Hi @mattanguige  I have ran the following configuration in my lab and it works as expected.  Can you provide an example of the configuration that errors?

configuration NetworkSecurity
{
    Import-DscResource -ModuleName SecurityPolicyDsc

    node localhost
    {
        SecurityOption NetworkSecurity
        {
            Name = 'NetworkSecurity'
            Network_security_LAN_Manager_authent

[2018-02-15 18:16] #43 closed

[2018-02-15 18:23] jcwalker commented on #81
readme has been updated, and an example with Kerberos policy settings has been added.

[2018-02-15 18:23] #81 closed

[2018-02-21 23:04] ewhitesides commented on #81
If I have 2 domain controllers, and many member servers, would I push this to only one DC, both DC, or all servers in my environment?

[2018-03-26 05:29] Stachows opened #83 ""Network_access_Remotely_accessible_registry_paths_and_subpaths" Add multiple paths"
I am relatively new to DSC but have found ALOT of my answers here in the DOCS and on the web.

But, one issue has me stumped.
I need to add MULTIPLE paths to the "Security Option" "Network_access_Remotely_accessible_registry_paths_and_subpaths"

I can add one path, and only 1 path, no matter how I try.  I have tried setting using the SecurityPolicyDsc resource (many different ways) and also straig

[2018-03-26 05:52] Stachows commented on #83
I actually found my own answer.  I created a .INF file to look at what it was looking for, and all i needed to do was separate the entries with a comma.  How frustrating for it to be so simple after many hours.

[2018-03-27 18:03] Safetybrick commented on #83
I have run into a similar issue along with Network_access_Remotely_accessible_registry_paths which I need to apply multiple paths with. No luck in a solution yet.

[2018-04-01 03:01] kewalaka opened #84 "AccountPolicy typo"
Issue #81 mentions that kerberos policies will only apply against a DC.

This won't work at the moment regardless, because of this line:

https://github.com/PowerShell/SecurityPolicyDsc/blob/68ffb4a9e9f5e7d2834f4d0cedad0e878bca938d/DSCResources/MSFT_AccountPolicy/MSFT_AccountPolicy.psm1#L193

..which should be:

[code]

[2018-04-02 02:29] kewalaka opened #85 "SmbServerNameHardeningLevel policy does not apply"
Due to an empty space at the end of the string on this line:

https://github.com/PowerShell/SecurityPolicyDsc/blob/68ffb4a9e9f5e7d2834f4d0cedad0e878bca938d/DSCResources/MSFT_SecurityOption/SecurityOptionData.psd1#L412

throws:

[code]

[2018-05-18 08:36] johlju commented on #78
I agree with @danielboth that it is the configuration that is important. If the SID's cannot be resolved that is not part of the configuration then that is not a big deal, although if a SID cannot be resolved that are in the configuration that means that the Set-TargetResource function will always run.

There are a suggestion here in the https://github.com/PowerShell/SecurityPolicyDsc/pull/74#issu

[2018-05-18 08:44] johlju commented on #71
Would be good if the documentation was updated with this information. Labeling this as help wanted so that someone in the community can run with this.

[2018-05-18 08:46] johlju commented on #73
The issues description seems to be a bug, so labeling it as such. The other comment is being discussed in issue #78.

[2018-05-18 08:48] johlju commented on #76
This is being discuessed in issue #78 and proposed fix in PR #74.

[2018-05-18 08:50] johlju commented on #79
Closing this as lack of response so assumed answered by previous comment. If this was closed in error, then please reopen or comment.

[2018-05-18 08:50] #79 closed

[2018-05-18 08:55] johlju commented on #80
I think the README.md should atleast be update to cleary show the possible values for each parameter. I had to look a couple of times and referencing the schema.mof before understanding that the values under here was actually parameters and not values; https://github.com/PowerShell/SecurityPolicyDsc#for-explanation-of-below-settings-please-consult-security-policy-reference

[2018-05-18 08:59] johlju commented on #80
Propose using the format
[code]
The value in *italic* is the default value.

[2018-05-18 09:01] mattanguige commented on #79
Apologies, I've been unable to revisit this recently. This must have been an issue with our configuration, I had to comment out that line and use the Registry resource for that setting. Hopefully I'll revisit this another day.

[2018-05-18 09:02] johlju commented on #83
The are not array is the schemo.mof or the code, so that won't work. They have to be changed to a string array and the code changed accordingly to support multiple paths (and array of paths).

https://github.com/PowerShell/SecurityPolicyDsc/blob/77e2594daf74c9e0c6305d9fc62e3f764a897dc1/DSCResources/MSFT_SecurityOption/MSFT_SecurityOption.schema.mof#L59-L60

[2018-05-18 12:39] johlju commented on #78
@jcwalker do you have suggestion to how we move forward with this issue?

[2018-05-18 19:19] jcwalker commented on #78
@johlju I've talked with a lot of folks on the best way to handle this.  I think that Test-TargetResource needs to run without error and return false that way someone can run Test-DscConfiguration and it will actually complete.  There are a lot of issue where folks report the resource is not propertly resolving SIDs that I can't reproduce.  Further investigation on why SID resolution fails is need

[2018-05-18 19:49] jcwalker commented on #71
@johlju do you think it's feasible to document each and every setting?  There is a link on the readme that explains each setting.  If the setting is applied in the GUI it also explains it.  To me it makes more sense to add a validate set for that parameter

[2018-05-18 19:50] danielboth commented on #78
@jcwalker  All the SID resolution issues that I've seen so far have not been caused by what we described in the DSC configuration. All were caused by other not SIDs that could not be resolved. Like non existing accounts or the Classic .NET AppPool I described. However, I don't care about those at all.

Is it possible to just focus the resource at what the user intents to have in desired state and

[2018-05-18 20:04] jcwalker commented on #78
@danielboth you are the first one to bring up this scenario and I'm puzzled why it's evening happening because Test-TargetResource and Set-TargetResource only handle the policies being managed. But I think what maybe happening is when the code gets the current configuration it grabs all the policies.  I will look into that scenario.  I think if we make the SID conversion process not throw it would

[2018-05-18 20:07] jcwalker commented on #85
@kewalaka this is fixed in the dev branch.  When it gets merged into master I will close the issue.  Please test to confirm the fix. Thanks and nice catch!

[2018-05-20 13:07] pjolsen opened #87 "Unresolved SIDs in unmanaged user rights cause a failure"
I've noticed that if we have unresolved SIDs in user rights that we are not trying to manage with DSC, the DSC code will still fail. Is it possible to make the code only attempt to resolve the members of the specific user right that is being configuration managed to avoid this issue?

[2018-05-20 13:18] pjolsen commented on #78
Hi jcwalker,

I've just raised an issue regarding exactly that issue. I have seen multiple machines erroring out due to unresolved SIDs being present in user rights that are not managed through DSC. The target user rights are clean (all SIDs resolving properly) but it seems that function  "Get-UserRightsAssignment" doesn't filter to the specific user right to be targeted and attempts to resolve ev

[2018-05-20 13:38] pjolsen commented on #78
Sorry - I think the code may actually be required in the Get-SecurityPolicy policy function. I think it should be as simple as having an extra parameter (e.g. $userright) passed into the get-securityfunction that holds the specific user right being targeted and then modifying the code with a where statement similiar to the below:

`foreach ($key in ($privilegeRights.keys | where {$_ -eq $userright

[2018-05-21 08:19] johlju commented on #87
Closing this as duplicate to #78

[2018-05-21 08:19] #87 closed

[2018-05-21 12:58] johlju commented on #71
Validate set is good.  Looking at this, maybe the problem is that the link is in a section header that is equal "size" of the resource name. It feels that the resource only have one parameter `Name`.

Maybe it possible to change it to something like this? Other resource modules use this format.

------------

## SecurityOption

**For explanation of below settings, please consult [Security Policy R

[2018-05-21 13:01] jcwalker commented on #71
Yeah I like that. It does look more professional.

[2018-05-21 14:12] johlju commented on #78
For reference. With the new feature in the test framework it is possible to run tests in a container, so if there are problem in server core of nano server that might be able to be tested by running integration tests in a container. See https://github.com/PowerShell/DscResource.Tests#run-integration-tests-in-order. If this could be

[2018-05-21 14:17] rdbartram commented on #78
I agree with the premise that if the state cannot be confirmed i.e an exception is thrown, then it really should halt operation as we cannot tell if we should proceed with dependant configurations or not. My recommendation would be to have a memberstoinclude memberstoremove type property this way, if we cannot be sure that that the required user is/is not in the list then we fail otherwise we sile

[2018-05-21 14:28] jcwalker commented on #78
@rdbartram we have the membersToInclude membersToExclude type functionality with the Force parameter.

I am currenlty working on a solution that adds a Scope parameter to the ConvertTo-LocalFriendlyName function so when Get/Test-TargetResource is calling ConvertTo-LocalFriendlyName it will use Scope = 'Get' and the name conversion will not throw a terminiating error if a SID can't be translated.

[2018-05-21 20:10] heatherdaye commented on #83
I was able to set this via SecurityPolicy DSC with a single comma delimited string
Network_access_Remotely_accessible_registry_paths_and_subpaths = "path 1, path 2, path 3"

[2018-05-22 07:00] johlju commented on #78
What happens when the Test-function tests for desired state, and cannot resolve a SID, and that identity is in the configuration? Will it always return $false?

[2018-05-22 08:00] johlju commented on #83
@heatherdaye Glad you found a solution to this!

@jcwalker is this the intended behavior, this property should not support an array? Just a comma separated list?

[2018-05-22 12:10] jcwalker commented on #83
If the schema says it's just a string and not an array I guess it is the intended behavior.  It's been too long since I wrote it to remember the specifics.  I'm always open to change/improve it on what the community agrees is best.

[2018-05-22 12:16] jcwalker commented on #78
@johlju if an orphaned SID is assigned to a policy and also in the desired configuration it will return $true.  However, for an identity to be applied successfully the SID has to be able to be translated or Test-TargetResource will throw.

[2018-05-22 12:50] heatherdaye commented on #83
Originally I had assumed it would be an array of strings. When it only took the first string, I began trial and error. I would suggest changing this to an array of strings as that is what would be expected based on other settings in the module.

[2018-05-22 13:13] johlju commented on #83
If it is changed to an array, and the resource builds a comma separated string, then both the following would work.

[code]
[code]

That means that existing configurations would still work. Although, since it should return an array, it would be a breaking change for users expecting an comma separated string when running Get-DscConfiguration.

[2018-05-22 13:39] johlju commented on #78
Sounds like you got a solution. Great work!

[2018-05-23 17:37] heatherdaye opened #89 "Network access: Restrict clients allowed to make remote calls to SAM is not included in module"
"Network access: Restrict clients allowed to make remote calls to SAM"
Is not included in the SecurityPolicyDSC module (as far as I can tell)

Reference docs:
https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/network-access-restrict-clients-allowed-to-make-remote-sam-calls

https://www.stigviewer.com/stig/windows_10/2017-04-28/finding/V-71769

[2018-05-24 11:44] johlju commented on #89
Adding this as an enhancement and help wanted so that anyone in the community can run with it.

[2018-05-24 11:52] johlju commented on #85
@heatherdaye Could you please open a separate issue for that? Thanks

[2018-05-24 12:39] heatherdaye opened #90 "SmbServerNameHardeningLevel policy has incorrect value"
SmbServerNameHardeningLevel policy has incorrect value which causes get-dscconfiguration to report NULL. This causes failure in Azure DSC. The value is set correctly in the Security Policy.

The setting “Accept if provided by the client” should be “Accept if provided by client” (no 'the').
The other two values "Off" and "Required from client" set and report correctly and do not fail in Azure DSC.

[2018-05-24 12:50] johlju commented on #90
I agree that this is a bug.
Documented as 'Accept if provided by client' both at [Microsoft network server: Server SPN target name validation level](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/jj852272%28v%3dws.11%29) and at [Microsoft network server: Server SPN target name validation level](https://docs.microsoft.com/en-us/windows/security/thr

[2018-05-24 14:22] heatherdaye commented on #83
After further investigation, the comma separated string works to set the multiple paths, however get-DSCConfiguration only returns the FIRST path. This causes failure when used in Azure DSC. This occurs in both Network_access_Remotely_accessible_registry_paths and Network_access_Remotely_accessible_registry_paths_and_subpaths

[2018-05-25 14:11] johlju commented on #83
Okay! Relabelling this as a bug then. 🙂

[2018-05-27 13:26] hoyeunglee opened #91 "how to export security policy to a file and restore from it?"
https://blogs.msdn.microsoft.com/powershell/2017/02/21/managing-security-settings-on-nano-server-with-dsc/

after read above article, there are two AuditPolicyDsc, SecurityPolicyDSC

but gpedit has only one, i am little confused, are audit policy and security policy are two different setting?

how to export security policy to a file and restore from it?

if export to a file, check the exported fil

[2018-05-28 08:45] johlju commented on #91
Yes, [AuditPolicyDsc](https://github.com/PowerShell/AuditPolicyDsc/) and SecurityPolicyDsc sets different settings.

You have to build a DSC configuration file (containing you choosen baseline) that is run on each target node. See the examples folder in this repository.

[2018-05-28 08:48] johlju commented on #91
You could possibly run Get-DscConfiguration with a configuration on a target node to get the current status of each property, from that you could build the configuration manually. Essentially "Reverse Dsc".

[2018-05-30 01:58] russelltomkins opened #92 "Set-TargetResource fails for array based security option if not already configured"
Set-TargetResource will fail to succeed if an array based security option is passed but there is no corresponding value already present in the $currentSecurityOptions dictionary object. Found whilst testing with Kerberos ETypes which isn't configured by default in the OS.

Cannot bind argument to parameter 'ReferenceObject' because it is null.
  + CategoryInfo          : InvalidData: (:) [], CimEx

[2018-05-30 05:09] russelltomkins commented on #66
Can we please re-open this one? I've completed the modifications and happy to provide the details in a PR. I've worked with many customers where misconfiguring this setting causes major issues. If MS does add a new EType, this could cause a lot of future support cases.

[2018-05-30 05:19] johlju commented on #66
Sure, thank you for contributing. Labeling it as an enhancement as in progress.

[2018-05-30 05:51] johlju commented on #92
@russelltomkins Are you about to fix this too in the PR that you are about to send it?

[2018-05-30 06:14] russelltomkins commented on #92
I do have a fix (as above), but another having another quick look at the parent condition loop I think there maybe another bug

[2018-06-06 00:59] jachin84 opened #94 "Comments cause Index operation failed; the array index evaluated to null."
I have a template that has a comment section up the top that is as follows:
[code]
The commend block causes a large number of the following error:
[code]

[2018-06-06 13:51] johlju commented on #94
Can you provide an example of the configuration you are using?

There should be a regression unit test testing for this issue as well. Labeling this as an enhancement and help wanted so anyone in the community can run with this.

[2018-06-25 19:53] mjcarrabine commented on #78
**Issue #87 Unresolved SIDs in unmanaged user rights cause a failure** was closed as a duplicate of this issue so I am posting this here, but I don't think it is being addressed here completely.

### Unresolved SIDs in Managed Policies
I agree with @johlju  and @jcwalker above regarding how to handle orphaned SIDs on policies in your desired state configuration.

### Unresolved SIDs in Unmanaged P

[2018-08-06 10:13] #91 closed

[2018-08-07 16:00] indented-automation commented on #92
If you were to wrap the reference object in an empty array it would handle a null value: `@($currentSecurityOptions[$policy])`.

The array will be flattened by PS if there's an array held in the hashtable value.

[2018-08-07 16:01] rsteenwyk commented on #92
@russelltomkins curious if you are still looking at this? This bit me today and @indented-automation helped me track it down to here.

[2018-08-18 18:05] #92 closed

[2018-09-03 20:54] #78 closed

[2018-09-11 06:44] danielboth opened #104 "UserRightsAssignment: Multiple resources defining same policy in a single configuration not possible"
#### Details of the scenario you tried and the problem that is occurring
The UserAssignmentResource cannot be used multple times in the same configuration to set the same policy. In a single configuration, this is not useful, in a scenario where composite / partial configurations are used though, being able to use the resource in multiple partial configurations is very useful.

#### Verbose logs s

[2018-09-11 07:09] johlju commented on #104
I understand the problem, unfortunately an array cannot be a Key.

The problem you are having is a common one when using partials, because then we think of the configurations as separate units. But DSC sees the whole as one unit.
The unique here (in your example) is that that the desired state is that Policy `Log_on_as_a_service`, and that should be set to `@('Account1','Account2', 'Account3')` to

[2018-09-11 16:01] danielboth commented on #104
You are right, I compiled a configuration using Identity as key (which works fine btw), so that made me think it could be done. At execution time I get an error "failed to register MOF classes" though, so indeed, that approach does not seem to work :(.

The ping-pong behavior you are describing is not something I see as an issue though, other resources in this module have the property "Description

[2018-09-12 08:26] johlju commented on #104
I leave that up to the community and @jcwalker (maintainer). 🙂

[2018-09-12 10:53] jcwalker commented on #104
I'm hesitant to accept something like this since adding a Name property will introduce a braking change since all key parameters are mandatory.  This will require everyone to modify their existing configurations to use the latest version of the resource.  This will need to be a popular request from the community to be accepted.

@danielboth is it possible to deconflict the resources in your scenar

[2018-09-12 15:17] danielboth commented on #104
@jcwalker, it's not possible to deconflict the resources in this case. Also, I would like to give another scenario that would be solved by implementing a second key property. That would be a configuration where both an account is added and one is removed. Currently, it is not possible to write this configuration:

[code]

Since we have both absent and present possible, it should be possible to use

[2018-09-12 15:26] johlju commented on #104
That would be solved to make Ensure a Key, and each configuration should be unique. But that differs from the previous suggestion as Ensure as Key would not make a ping pong behavior as Ensure would only allow two values.

[2018-09-12 18:32] jcwalker commented on #104
@danielboth does using the Force parameter help any?  In the example below only Account1 will be assigned 'Log on as a service'

[code]

[2018-09-30 11:52] johndejager commented on #89
Any update on this issue?

[2018-10-01 22:55] jcwalker commented on #89
@johndejager give me a couple weeks and I can implement this.

[2018-10-10 19:48] swspoerle opened #105 "MSFT_SecurityOption: Spelling error in MSFT_SecurityOption.psm1"
#### Details of the scenario you tried and the problem that is occurring
The ValidateSet in the Parameter for User_Account_Control_Behavior_of_the_elevation_prompt_for_standard_users has a misspelling of "Prompt for credentials" as it says "Prompt for crendentials"
#### Verbose logs showing the problem
`SecurityPolicyDsc\SecurityOption : At least one of the values 'Prompt for credentials' is not s

[2018-10-15 01:04] jcwalker commented on #105
@swspoerle good catch on this.  I should be able to take of this within a week or so.

[2018-10-25 21:57] #89 closed

[2018-10-27 14:40] jcwalker commented on #85
Closes this as this issue was resolved in version 2.5.0.0.

[2018-10-27 14:40] #85 closed

[2018-10-27 20:17] #90 closed

[2018-10-27 20:17] #105 closed

[2018-11-08 18:50] timhaintz opened #108 "Update LICENSE file to match the Microsoft Open Source Team standard."
In new repositories that are created by the Microsoft Open Source Team, the LICENSE file does not contain the year in the copyright "header".

LICENSE file should be as below, indentation included.

[code]

[2018-12-27 22:13] aydeisen commented on #71
@johlju

I'm seeing this same issue in the SecurityOption DSC, where options that need to be changed are erroring out with the same error.

Having [RTFM](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/devices-restrict-floppy-access-to-locally-logged-on-user-only), I see that the option of 'Enabled' is valid.  I have also confirmed that it's defined in

[2019-01-18 13:16] #108 closed

[2019-01-21 01:19] dancs85 commented on #83
@jcwalker It looks like you are dropping the first item in the array (which contains valid data): https://github.com/PowerShell/SecurityPolicyDsc/blob/543df7a2007b5594ee274feae4da7609b96dc9f7/DSCResources/MSFT_SecurityOption/MSFT_SecurityOption.psm1#L58
Is this intended?

[2019-01-21 23:53] jcwalker commented on #83
Closing this as it was correct it [PR#111](https://github.com/PowerShell/SecurityPolicyDsc/pull/111)

[2019-01-21 23:53] #83 closed

[2019-03-18 09:29] mahantesh2899 opened #114 "Help required with DSC configs"
We have below DSC configurations:

UserRightsAssignment EnsureChangeTheSystemTimeIsConfigured
        {

           Policy   = "Change_the_system_time"

           Identity = "Administrators", "Server Operators", "LOCAL SERVICE"

           Force    = $true

        }

	UserRightsAssignment EnsureGenerateSecurityAuditsIsSetToLOCALSERVICENETWORKSERVICE
        {

           Policy   = "Generate_sec

[2019-03-22 21:57] billyhigdon opened #116 "User Rights Assignment throwing secedit.exe error"
Having an issue when trying to set the following with UserRightsAssignement...

        UserRightsAssignment LockPagesInMemory
        {
                Policy = "Lock_pages_in_memory"
                Identity = "sqlservice"
        }

errors out with the following:

The term 'secedit.exe' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of

[2019-03-27 04:18] gaelcolas commented on #116
Can you give more information about your OS?
SecEdit should be built-in Windows.

As an Administrator account, can you try this in a shell:
[code]
It should return:
[code]

[2019-03-27 05:00] gaelcolas commented on #71
I think this is being addressed in #112
@aydeisen can you confirm your PR fixes this problem? Or are you seeing more problems despite the PR you submitted?

[2019-03-27 05:07] #80 closed

[2019-03-27 08:12] #66 closed

[2019-03-27 14:44] aydeisen commented on #71
I made the edits in response to issue #112 however, I wasn't able to figure out how to validate some of the more free-form parameters.  I've contributed what I could to help with this issue, but I personally wouldn't consider #112 fully resolved until all parameters have validation attributes

[2019-03-27 14:55] jcwalker commented on #114
What type of security group is "Server Operators", local or domain?  If it's a domain group you will need a syntax similar to this: "contoso\Server Operators"

[2019-03-27 15:04] mahantesh2899 commented on #114
Thanks, i will try with domain group.

[2019-03-28 12:04] gaelcolas commented on #71
Thanks, I will leave open to be reviewed.

[2019-04-02 20:06] manoj2994 commented on #71
I am also facing the same issue trying to update Security options policies using Security option resource.  if i change the  value in the parameter it fails. Example Accounts: Rename administrator account  .
WINDOWS 7

[2019-04-03 18:40] jcwalker commented on #71
@manoj2994 are you saying you are trying to rename the administrator account to "WINDOWS 7"?

[2019-04-10 00:51] jcwalker opened #118 "UserRightsAssignment: A resource conflict is used when trying to remove and add Identities in the same configuration"
#### Details of the scenario you tried and the problem that is occurring
A resource conflict is used when trying to remove and add Identities in the same configuration
#### Verbose logs showing the problem
Test-ConflictingResources : A conflict was detected between resources '[UserRightsAssignment]LogOnAsService
(C:\Users\Administrator\Documents\TestLogonAsService.ps1::7::9::UserRightsAssignment)'

[2019-04-11 15:59] SwethaGanapathy01 opened #119 "Configurations not being applied"
We have few DSC configurations which are not being applied to the server. Those are still in not configured state in server

- Ensure 'Audit Other Logon/Logoff Events' is set to 'Success and Failure'
- Ensure 'Audit Process Creation' is set to 'Success and Failure'
- Audit Other Object Access Events
- Audit MPSSVC Rule-Level Policy Change

Above recommendations are not applied eventhough we have

[2019-04-12 19:13] jcwalker commented on #104
I wanted to reopen this, as this seems to constantly come up, and ask the community for feedback.

Here are the solutions that have been suggested in the past:
1.  Add a Description parameter as a key
2.  Make Identity a key parameter which means it couldn't be an array anymore.  If multiple identiies are required to be on a policy then a composite could be used like WindowsFeature and WindowsFeat

[2019-04-13 13:08] manoj2994 commented on #71
Yes

[2019-04-15 12:15] SwethaGanapathy01 commented on #119
Can anyone suggest me with some solution for the above issue with configuration

[2019-05-02 01:32] begna112 opened #121 "AccountPolicy Fails with "The parameter is incorrect." & "Incorrect function.""
#### Details of the scenario you tried and the problem that is occurring
I'm having an issue that may or may not be the same as #119. In my case, the mof is being applied by the LocalSystem user on Windows 2016. I've tried using the `PsDscRunAsCredential` parameter but this resource doesn't seem to support it.

#### Verbose logs showing the problem
Here's some relevant logs:
[code]

scesrv.log inc

[2019-05-02 02:08] begna112 commented on #121
I was able to verify that running the following as a local administrator gives the same error:
[code]

Is it possible that the sdb is malformed?

[2019-05-02 18:15] begna112 commented on #121
I think I've discovered the core of this issue.

I set the setting how I want them in local group policy and then used mmc + the Security Configuration and Teemplate snap-in to export my current settings.

What it exported was this:
[code]

Note that `MaximumPasswordAge = -1`.

When I manually edit the accountPolicyToAdd.inf to change that value from `0` to `-1`, secedit works as expected.

Lookin

[2019-05-02 21:41] begna112 commented on #121
Tried making the change myself but I think it's just a bit over my head and requires more changes than just the lines I pointed out above.

I changed `[System.Uint32]` to `[System.Int32]` and `[ValidateRange(0,999)]` to `[ValidateRange(-1,999)]` in both the Set and Test-TargetResource functions of MSFT_AccountPolicy.psm1. That resulted in this error:
[code]

I additionally tried changing the MSFT_

[2019-05-12 23:42] dancs85 opened #122 "SecurityOption: Changed setting value - Require Signature"
#### Validation strings for the item value do not match the strings that apply to registry.
Setting: Domain_controller_LDAP_server_signing_requirements
Correct values (checked on Server 2016): None, Require signing
Current validation strings: `[Write, ValueMap{"None","Require Signature"}, Values{"None","Require Signature"}] String Domain_controller_LDAP_server_signing_requirements;`
Current regist

[2019-05-13 15:10] jcwalker commented on #121
@begna112 thanks for reporting the issue and the detailed repro!  I'll do my best to look into a solution as soon as work allows it.

[2019-05-28 15:07] steven-cuthill-otm commented on #89
just gave this a shot and nope not working for me, anything ovbv ?

Network_access_Restrict_clients_allowed_to_make_remote_calls_to_SAM = 'Administrators: Remote Access: Allow'

Write-NodeMOFFile : Invalid MOF definition for node 'localhost': Exception
calling "ValidateInstanceText" with "1" argument(s): "Convert property
'Network_access_Restrict_clients_allowed_to_make_remote_calls_to_SAM' value

[2019-05-28 15:18] steven-cuthill-otm opened #123 "SecurityOption : Interactive_logon_Message_"
#### Details of the scenario you tried and the problem that is occurring

applied the following options however the resource is erroring but from what I can tell it is applying the setting as the txt and the title are being updated. attached as much info as poss.

 Interactive_logon_Message_text_for_users_attempting_to_log_on = 'By logging into the ONTHEMARKET PLC network you agree to abide by the

[2019-05-28 16:51] jcwalker commented on #89
@steven-cuthill-otm does your configuration look like the [example](https://github.com/PowerShell/SecurityPolicyDsc/blob/dev/Examples/Restricted_Remote_Call_To_Sam_Example.ps1)?

[2019-05-28 22:03] steven-cuthill-otm commented on #89
Yup More or less , here is a cut down extract

SecurityOption AccountSecurityOptions {
Name = 'AccountSecurityOptions'
Interactive_logon_Do_not_require_CTRL_ALT_DEL = 'Disabled' # 2.3.7.2 (L1)
Ensure 'Interactive logon: Do not require CTRL+ALT+DEL' is set to 'Disabled'
Interactive_logon_Machine_inactivity_limit = '900' # 2.3.7.3 (L1) Ensure
'Interactive logon: Machine inactivity limit' is set to '

[2019-05-28 22:55] jcwalker commented on #89
@steven-cuthill-otm I'm not seeing the instance of Network_access_Restrict_clients_allowed_to_make_remote_calls_to_SAM

But using what you have in your initial post it should look something like this:

[code]

[2019-05-29 20:42] jcwalker commented on #119
@SwethaGanapathy01 I have tested the settings you provided in your issue and the resource succeeds without error.  Can you provide the error you are getting?

[2019-05-31 01:52] dbaileyut opened #124 "AccountPolicy: Get-PolicyOptionData fails on PowerShell 4.0"
#### Details of the scenario you tried and the problem that is occurring
Trying to use AccountPolicy on Windows 2012R2 with PowerShell 4.0

[code]
#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue

It looks like ArgumentToConfigurationDataTransformation requires PowerShell 5.x?

Maybe load the hashtable in AccountPolicyData.psd1 without it?
Less preferred: Increase

[2019-05-31 03:52] dbaileyut commented on #124
Hmm, actually, there's some weirdness because I can run

`Get-PolicyOptionData -FilePath 'C:\Program Files\WindowsPowerShell\Modules\SecurityPolicyDsc\DSCResources\MSFT_AccountPolicy\AccountPolicyData.psd1'`

from powershell.exe or the ISE.

If I modify Get-PolicyOptionData by removing (or moving) the hashtable type from the -FilePath parameter the configuration applies successfully.

Removing:
[c

[2019-06-14 10:50] markwragg commented on #123
I am seeing the same issue, the logon message is applied successfully but DSC always returns:
[code]

[2019-06-14 11:09] markwragg commented on #123
Actually I realised I was still using an old version of the resource. The problem went away for me after I updated via `Install-Module 'SecurityPolicyDsc' -Force`

[2019-06-21 07:56] dtrac commented on #116
Hi Guys - I've also experienced this issue on a number (approx 1 in 3) of identical builds - Windows 2016 1607 Build 14393.2248.

I'm seeing it with the SecurityOption resource.  Output:

https://gist.github.com/dtrac/5a02e0348936aab9d036e4fbc4ce71ee

Running PowerShell interactively, I can execute secedit.exe successfully, and a 'where.exe' shows it in the correct location (C:\Windows\System32).

[2019-07-02 11:58] jcwalker commented on #123
@markwragg awesome! Glad you got it figured out.

[2019-07-02 11:58] #123 closed

[2019-07-25 14:37] thijsvanbloemendaal opened #126 "SecurityOptions - Could not infer CimType from the provided .NET object"
Hi,

I'm running into issues with a baseline in windows 2019.
I receive the following error on multiple securityOptions:

[code]

Does anyone know how to resolve this?

Regards,
Thijs

[2019-08-15 09:26] mnotley-reward opened #129 "UserRightsAssignment: unable to Force multiple values"
#### Details of the scenario you tried and the problem that is occurring

I am trying to set the value of generatesecurityaudits to two SIDs, however this fails to apply. Force only appears to work when setting a single SID.

#### Verbose logs showing the problem

Error from the Set-TargetResource:

'''
PowerShell DSC resource MSFT_UserRightsAssignment  failed to execute Set-TargetResource functio

[2019-08-26 06:13] weiyentan opened #131 "SecurityTemplate - " Task did not complete successfully ""
Apologies about the syntax below. But I am trying out the dsc resource SecurityTemplate. I am presuming from that I can supply an inf file and it will apply that to the computer.

So that is what I did and I get  an error in the logs saying that task did not complete successfully. (full details below).

I have looked at the inf file and I can see the entry in the inf file and it looks like this:

[2019-08-26 14:19] weiyentan commented on #131
I noticed that this is a privilege access section of the security policy. Is this something to do with it?

[2019-09-03 17:24] jcwalker commented on #129
Hi @mnotley-reward, try updating the Identity property with an array like this:
Identity = 'LOCAL SERVICE,NETWORK SERVICE'

[2019-09-25 06:36] Ankita-Chaudhari commented on #114
Hi,

I have machines which are not domain join, and I have below DSC config file

UserRightsAssignment Adjustmemoryquotasforaprocess {
            Policy   = 'Adjust_memory_quotas_for_a_process'
            Identity = 'Administrators, LOCAL SERVICE, NETWORK SERVICE'
        }

UserRightsAssignment Changethesystemtime {
            Policy   = 'Change_the_system_time'
            Identity = 'Adminis

[2019-09-25 11:37] jcwalker commented on #114
Hi @Ankita-Chaudhari try surrounding each identity with quotes like this:
Identity = 'Administrators','LOCAL SERVICE', 'NETWORK SERVICE', 'SERVICE'

[2019-09-25 17:17] Ankita-Chaudhari commented on #114
Hi John,

Thank-you!

After your mentioned solution DSC config is working properly.

Regards,
Ankita

On Wed 25 Sep, 2019, 5:07 PM Jason Walker, <notifications@github.com> wrote:

[2019-12-13 03:10] jeremyhagan opened #140 "AccountPolicy: Account_lockout_duration Errors when Set to Zero"
#### Details of the scenario you tried and the problem that is occurring
I'm trying to use the AccountPolicy resource and if I include any of the Account Lockout settings the application of the resource fails with the error below. The examples don't include these settings, so I am not sure if I got the syntax correct, but it looks the same as other people with issues. I;ve tried the values with an

[2019-12-15 13:59] dd8 commented on #76
Also experienced this issue - Translate was throwing an exception due to an orphaned SID in some Local Policies/User Rights Assignment settings. Took a *long* time to diagnose be because none of the logging messages showed the problem SID

[2019-12-16 23:07] jeremyhagan commented on #140
I can confirm that this is the same as [Issue 121](https://github.com/dsccommunity/SecurityPolicyDsc/issues/121).

In WS2019 1809 when I configure the local security policy with infinite lockout, then export the policy, the value in the exported inf is -1

Unicode=yes
[System Access]
MinimumPasswordAge = 0
MaximumPasswordAge = 42
MinimumPasswordLength = 10
PasswordComplexity = 1
PasswordHistorySiz

[2020-01-22 13:22] thesutex opened #141 "Some or all identity references could not be translated"
when using IIS, creating apppools and deleting these creates SIDs that cant be translated, so the entire DSC part of "user rights assignment" fails when one SID (i.e. deleted default apppool) remains in the security policies like local policies\user rights assignment\Generate security audits

before deletion of apppool:
![image](https://user-images.githubusercontent.com/60183061/72898010-87d11e00-

[2020-01-31 23:31] hariscodes commented on #126
Hey, we actually found a fix for this. We have forked this repository and my colleague will be pushing the fix up.

In short, there's a `switch` call three functions deep which doesn't cover all possibilities of users in a policy. The Local Security Policy associated with the problematic call is "Network Access: Restrict Clients allowed to make remote calls to SAM". If you look at that policy, you

[2020-02-05 09:27] thesutex commented on #141
latest version of module fixed this

[2020-02-05 09:27] #141 closed

[2020-02-21 21:22] rdtechie commented on #121
I have the same issue when applying the setting 'Store_passwords_using_reversible_encryption'. Receiving the following error message:
`Cannot convert value "-1" to type "System.UInt64". Error: "Value was either too large or too small for a UInt64."`

[2020-02-22 15:16] gaelcolas commented on #121
to fix that, not only you'd have to change the psm1 as @begna112 did, you'd also need to change the MOF Schema here: https://github.com/dsccommunity/SecurityPolicyDsc/blob/dev/DSCResources/MSFT_AccountPolicy/MSFT_AccountPolicy.schema.mof#L8

You can't use -1 for an unsigned 32bit Integer.
I am not familiar enough with the code so I don't know why UInt32 was chosen (usually because that's how Windo

[2020-03-06 10:01] johlju opened #143 "SecurityPolicyDsc: Converting to new CI pipeline"
Work need to be done to convert this repository to use the new CI pipeline.

https://dsccommunity.org/blog/convert-a-module-for-continuous-delivery/

[2020-03-06 10:01] johlju commented on #143
These PR's should be merged which will help with the conversion process:
https://github.com/dsccommunity/SecurityPolicyDsc/pull/139
https://github.com/dsccommunity/SecurityPolicyDsc/pull/138
https://github.com/dsccommunity/SecurityPolicyDsc/pull/137

[2020-03-13 13:40] meizenga commented on #76
We also had this issue. Your solution really helped!

[2020-03-19 16:31] begna112 commented on #121
The issue described here was fixed in 2.9.0.0.

@rdtechie if you're still having your issue, you might want to open another issue.

Closing this issue.

[2020-03-19 16:31] #121 closed

[2020-03-21 20:44] NemoDima opened #144 "SecurityOption: possible values for Network_Security_Restrict_NTLM_Audit_Incoming_NTLM_Traffic are incorrect"
#### Details of the scenario you tried and the problem that is occurring
In readme Possible values for _Network_Security_Restrict_NTLM_Audit_Incoming_NTLM_Traffic_ are incorrect.
Wrote:
_[String] Network_Security_Restrict_NTLM_Incoming_NTLM_Traffic (Write) : Please see the link above for a full description. { Enable auditing for domain accounts | Enable auditing for all accounts | Disabled }_

Sho

[2020-03-22 21:15] oliwex opened #145 "Making dsc for gpo analysis/validation"
I have the example code:

Configuration AccountPolicy_Config
{
    Import-DscResource -ModuleName SecurityPolicyDsc

    node DELL
    {
        AccountPolicy AccountPolicies
        {
            Name                                        = 'PasswordPolicies'
            Enforce_password_history                    = 15
            Maximum_Password_Age                        = 42
            Mini

[2020-05-04 12:06] #126 closed

[2020-05-10 09:57] X-Guardian commented on #143
Hi @johlju,  if you can start merging in the documentation update PRs, I'll convert this module to the new CI pipeline.

[2020-05-10 10:01] johlju commented on #143
Done!

[2020-05-10 10:03] X-Guardian commented on #143
Cheers! have all the latest changes we have been making to the pipeline been applied to the Sampler template?

[2020-05-10 10:17] X-Guardian commented on #143
Hi @johlju, I can't update the Git tags, as I have no write permissions to this repo. Do you want to do that stage, or give me permissions to do so?

[2020-05-10 10:37] johlju commented on #143
Not all no. :/

[2020-05-10 10:38] johlju commented on #143
Let's ping @gaelcolas on Slack so you get access everywhere. I think I can give you permission to the repo though.

[2020-05-10 10:39] X-Guardian commented on #143
OK, I'm going to take the azure-pipelines.yml from ActiveDirectoryDsc and use that then.

[2020-05-10 10:43] johlju commented on #143
Yes do that it is the fastest

[2020-05-10 10:43] johlju commented on #143
@X-Guardian You should gotten an invite to the repo now.

[2020-05-10 10:44] X-Guardian commented on #143
Yep cheers, I can see 'Settings' on the repo now.

[2020-05-13 16:40] #143 closed

[2020-05-15 15:42] X-Guardian commented on #144
Hi @NemoDima, this was fixed as part of PR #137.

[2020-05-15 16:11] NemoDima commented on #144
Hi @X-Guardian
If so, thak you a lot for the fix!

[2020-05-15 16:15] #144 closed

[2020-05-15 16:17] X-Guardian commented on #124
Hi @dbaileyut, the minimum PowerShell version for this module is now 5.1.

[2020-05-15 16:17] #124 closed

[2020-05-15 16:18] #114 closed

[2020-05-15 16:22] X-Guardian commented on #129
@mnotley-reward, can you confirm this resolved your issue?

[2020-05-15 16:36] X-Guardian commented on #122
Fixed as part of PR #125

[2020-05-15 16:36] #122 closed

[2020-05-17 17:09] #140 closed

[2020-05-18 19:56] X-Guardian opened #150 "UserrightsAssignment: Failure When Setting Increase_scheduling_priority Policy on Windows Server Core"
#### Details of the scenario you tried and the problem that is occurring

The `Increase_scheduling_priority` User Rights Assignment has a default membership of `BUILTIN\Administrators` and `Window Manager\Window Manager Group`.

When trying to modify the `Increase_scheduling_priority` policy on Windows Server Core, the following error occurs:

#### Verbose logs showing the problem

[code]

#### Su

[2020-09-10 14:07] billl opened #151 "Question about DSC configuration"
In Azure Security Center I am trying to apply the following rule to a Windows Server 2016 VM:

	UserRightsAssignment "CCE-37639-2: Ensure Generate security audits' is set to 'LOCAL SERVICE, NETWORK SERVICE, IIS APPPOOL\DefaultAppPool"
	{
		Policy = 'Generate_security_audits'
		Force = $True
		Identity = @('NT AUTHORITY\LOCAL SERVICE', 'NT AUTHORITY\NETWORK SERVICE', 'IIS APPPOOL\DEFAULTAPPPOOL')

[2021-01-06 17:11] mgreenegit opened #157 "Does SecurityOptionData.psd1 need to be updated?"
Based on this doc, there are some missing values. Examples, 'RequireLogonToChangePassword' and 'ClearTextPassword'.
https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-gpsb/0b40db09-d95d-40a6-8467-32aedec8140c

[2021-01-25 18:04] ShawnHardwick opened #158 "UserRightsAssignment: 'Could not translate SID' for orphaned SID"
#### Details of the scenario you tried and the problem that is occurring
I am utilizing the dsc_lite Puppet module in Puppet to execute the UserRightsAssignment resource to manage the `Log_on_as_a_batch_job` property. A large number of our servers have orphaned SIDs due to legacy reasons.

![2021-01-25_12-53-00](https://user-images.githubusercontent.com/5496527/105745672-8923c080-5f0c-11eb-85e2-4b

[2021-02-19 14:26] prochammer commented on #158
Experiencing this same problem where unresolved SIDs are causing the resource to fail (Windows 2012R2, WMF 5.1, SecurityPolicyDSC 2.4.0.0)

At the least, when the resource allows adding/removing individual security principal privileges in a security policy then it must ignore security principals in an existing security policy that are not governed by the DSC configuration. At best, `Set-TargetReso

[2021-03-16 08:39] nawijesi opened #160 "SecurityOptions: SendConfigurationApply function did not succeed"
#### Details of the scenario you tried and the problem that is occurring
Running the SecurityOptions configuration on Windows 10 clients fails

#### Verbose logs showing the problem
DSC Configuration 'RegistrationMetaConfigV2' completed with error(s). Following are the first few: Cannot bind argument to parameter 'ReferenceObject' because it is null. The PowerShell DSC resource '[SecurityOption]Se

[2021-03-16 08:42] nawijesi commented on #160
The logs were not showing exactly which security options setting was causing this issue on the client. So through the process of elimination we pinpointed the cause to this security options policy:

    Network_security_Configure_encryption_types_allowed_for_Kerberos = 'AES128_HMAC_SHA1','AES256_HMAC_SHA1','RC4_HMAC_MD5'

Running the security options locally on the Windows 10 Client had no issues.

[2021-03-16 08:44] nawijesi commented on #160
The error handling needs to be improved for SecurityOptions as if one fails, the failure does not appear properly on logs.

[2021-04-22 20:33] bcwilhite opened #162 "All Resources: Extend PowerShell v7 Compatibility for all SecurityPolicyDsc DSC Resources"
### Description

Extend PowerShell v7 Compatibility for SecurityPolicyDsc Resources.

### Proposed properties

### Special considerations or limitations

Maintain v5 compatibility.

[2021-04-22 22:56] gaelcolas commented on #162
Consider moving to class based while at it 😁

[2021-05-21 02:06] marinmuso opened #165 "The term 'secedit.exe' is not recognized as the name of a cmdlet, function, script file, or operable program."
#### Details of the scenario you tried and the problem that is occurring

I get an error trying to run the following:

`(Invoke-DscResource -Name AccountPolicy -Method Get -Property @{Name ='notrequired'} -ModuleName SecurityPolicyDsc).Account_lockout_duration`

This happens after the DSC is successfully applied to the machine. I am running the above command to test the DSC configuration...

####

[2021-08-05 14:43] mgreenegit opened #166 "Addition of minimum password length audit"
There are several new policies available in new server versions missing from the psd1. I will attempt to make this easy by discovering the format where I can.

[code]

[2021-08-05 15:02] mgreenegit opened #167 "Configure encryption types allowed or Kerberos"
Discovered that multiple values can be selected for this setting, and when that occurs the combinations of all values would have to be mapped in to the PSD1, or we handle this by not trying to map to text names, or somehow support both formats.

[code]

[2021-08-17 15:25] prolixalias opened #168 "Artifactory doesn't like hyphens in version names"
Hello! I'm fully aware this isn't a `dscommunity` issue, but I'm hoping to get some guidance. [This](https://www.jfrog.com/jira/si/jira.issueviews:issue-html/RTFACT-22243/RTFACT-22243.html) Artifactory bug is causing havoc at a prominent customer.  If you had lots of freedom with customizing metadata.json, etc, what is the recommended way to get around Artifactory throwing `400` when DSC modules a

[2021-09-10 10:36] fullenw1 opened #169 "UserRightsAssignment AccountPolicy SecurityTemplate: this resources are note compiled by the module"
#### Details of the scenario you tried and the problem that is occurring

The modules compiles the **SecurityOption** resource fine.
But no trace of the 3 other resources in the MOF file:
- **UserRightsAssignment**
- **AccountPolicy**
- **SecurityTemplate**

I tried to remove them all
and add them again one by one to see if the issue is related to one of them,
but even this way they don't appear i

[2021-09-17 17:12] AndrewStrickland opened #170 "AccountPolicy: Support for -Prefix when importing the MSFT_AccountPolicy Module"
#### Details of the scenario you tried and the problem that is occurring
We bypass the LCM and process the MOF manually. To avoid conflicts in loading DSC Modules, they are imported using the -Prefix argument.
[code]
Now when Test-AccountPolicyTargetResource is executed, it errors.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue
C:\Program
Files\WindowsPowerShe

[2021-09-28 15:44] rb-cloud-guru commented on #89
Any updates on this because this is still an ongoing issue?
Thank you

[2021-10-14 18:51] 229Lane opened #171 "SecurityOption: SendConfigurationApply non-terminating errors Test-TargetResourouce, could not infer cim type"
#### Details of the scenario you tried and the problem that is occurring

Config file has a single SecurityOption enabled, all the rest are commented out for testing.
Mof processes fine if the below SecurityOption is commented out, when  enabled it (uncomment) the below errors occur and the mof fails to be applied.

    SecurityOption 'SecurityRegistry(INF): Microsoft_network_client_Send_unencrypt

[2021-10-14 18:53] 229Lane commented on #171
Sorry about the long configuration, any help is much appreciated.

[2021-10-19 14:04] SteveC83 opened #172 "UserRightsAssignment not able to Force resource"
#### Details of the scenario you tried and the problem that is occurring

Tested against an on-prem 2019 server in a push configuration and an Azure based 2016 server in a push configuration to rule out setup.

Tried against localhost node and hostname node.

Configuration is a variation of teh ocnfig found here https://github.com/NVISOsecurity/posh-dsc-windows-hardening/blob/master/CIS_WindowsSer

[2021-10-19 16:02] SteveC83 commented on #172
OK so after correctly reading the Wiki I realised that I needed to set Force = $true to actually make it apply the change however there still appears to eb an issue

VERBOSE: []: LCM:  [ Start  Resource ]  [[UserRightsAssignment]Accessthiscomputerfromthenetwork]
VERBOSE: []: LCM:  [ Start  Test     ]  [[UserRightsAssignment]Accessthiscomputerfromthenetwork]
VERBOSE: []:

[2021-10-21 08:13] SteveC83 commented on #172
Actually I've found the issue now it was the same as this closed one: https://github.com/dsccommunity/SecurityPolicyDsc/issues/114
Each group had to quoted individually to convert to a SID.

[2021-10-21 08:13] #172 closed, assigned to nobody

[2021-10-26 22:56] 229Lane commented on #171
When running Get-DscConfiguration the error can be repro'd. If you add  -verbose the below error shows a SDDL value.

VERBOSE: [<serverNameOmitted>]:                            [[SecurityOption]SecurityRegistry(INF):
Microsoft_network_client_Send_unencrypted_password_to_third_party_SMB_servers::[Ws2019DomainControllerSecurityComplianc
e1_0]Ws2019DcSecurityCompliance::[CedisGroupPolicy]GroupPolicyC

[2021-10-29 22:31] 229Lane commented on #171
Confirmed fixed in version 3.0.0 preview06

[2021-10-30 10:20] bdanse opened #173 "SecurityPolicyDsc support for Guest Configuration"
As discussed [here](https://docs.microsoft.com/en-us/answers/questions/567405/guest-configuration-dsc-resource.html).

Taking Gcpol into account. Though a bit counter intuitive with regards to DSC resources. A filter option could be a nice addition to include filter capability in the following modules:
-    AuditPolicyDsc
-    GPRegistryPolicyDsc
-    SecurityPolicyDsc

The idea is based on what i

[2021-10-30 13:51] gaelcolas commented on #173
IMO, the best way is to make the DSC resources "clean" (no filter), because this does not translate well in the DSC configuration paradigm (we ought to define a state to converge to, specific to a node or configuration name. No ifs and buts.)
GC is slightly different, but the base should be the same, so we should avoid repeating code.
Best is to convert those MOF-based resource to class-based reso

[2021-11-02 21:46] bdanse commented on #173
I have been digging into the classes you mentioned. and LocalGroup contains the exact pattern you advice. To get a clear understanding of how it all flows back and forth between both classes, i have created a simple snippet. Even left out DSC parts.

[code]

My assumption is my order is wrong. Since the GC configuration will invoke GC_DscClass first. but not sure where the starting point within th

[2021-11-06 02:01] gaelcolas commented on #173
I'm not sure I understand your question, so apologies in advance if my answer doesn't help.

In this pattern, the DSC resource is a simple resource as we're accustomed to.
For GC we need to extend/change the resource to support a slightly different paradigm more specialised to Azure Policy Guest Configuration.
Instead of duplicating code, we want to base the GC resource on the same behaviour, but

[2021-11-12 09:06] bdanse commented on #173
Thank you for you patience and explanation.

 I have made a little concept module. [here](https://github.com/bdanse/ConditionalGC)

2 classes :
DscClass : works as one would expect from a DSC resource.
GC_DscClass: inherits DscClass and will parse a yml string of allowed OS's and compares the current OS label to this list.

GC_DscClass Get shall only instantiate DscClass Get if conditions are met.

[2021-11-12 22:38] AndrewStrickland commented on #170
Confirmed that this is NOT an issue in 3.0.0-preview0006

[2021-12-06 09:20] hoppi1804 opened #174 "SecurityPolicyDsc: Invoke-DscResource "Get" output is "System.Object[]""
#### Details of the scenario you tried and the problem that is occurring
"Get-TargetResource" and "Invoke-DscResource -> Get" should have the same output. Invoke-DscResource returns a list of data, as expected, but values that should contain objects or array lists are "System.Object[]"

**test 1, as it should be, just an example for "Network_access_Sharing_and_security_model_for_local_accounts"**

[2021-12-07 10:24] hoppi1804 opened #175 "SecurityPolicyDsc: Maximum_lifetime_for_service_ticket cannot be set to "0""
#### Details of the scenario you tried and the problem that is occurring
Maximum_lifetime_for_service_ticket cannot be set to 0, even though MS documentation suggests this is possible
https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/maximum-lifetime-for-service-ticket

#### Verbose logs showing the problem
PowerShell DSC resource MSFT_AccountPolicy  fail

[2021-12-25 20:44] 39Delta commented on #116
We are seeing this issue periodically with new Windows Server installs and the publication of DSC configurations containing the UserRightsAssignment settings.  Even after joining the domain the system reports errors about the secedit.exe command not being found.  Running Get-Command secedit.exe accurately locates the program but for some reason the environment paths for the system account, running

[2022-01-13 10:03] GerritH92 opened #177 "SendConfigurationApply function does not succeeds on account an AccountPolicy."
#### Details of the scenario you tried and the problem that is occurring
We use below resource in our guest configuration package for vms on Azure. When running the Get-GuestConfigurationPackageComplianceStatus with our package we get the error as seen in attached screenshot. The error says i cannot convert the string -1 to an int. But nowhere on the machine or the .mof file of the configuration t

[2022-02-07 03:29] shreedharagowda opened #178 "Not able to use Configuration AccountPolicy_KerberosPolicies_Config"

[2022-02-07 06:49] shreedharagowda commented on #178
Tried the same with puppetlabs-dsc module getting the below error

[class cc_hieratest::policy::test {

dsc_accountpolicy { 'Enforce_user_logon_restrictions':
  dsc_name                            => 'Enforce_user_logon_restrictions',
  dsc_enforce_user_logon_restrictions => 'Enabled',
}

}
](url)

Error: PowerShell DSC resource MSFT_AccountPolicy  failed to execute Set-TargetResource functionalit

[2022-02-08 15:11] shreedharagowda commented on #178
Never Mind i have addressed this issue using DSC_Light module form puppet

[2022-02-08 15:11] #178 closed, assigned to nobody

[2022-02-15 14:51] joelymalookey opened #179 "DSC Conversion Breaks"
https://github.com/dsccommunity/SecurityPolicyDsc/blob/16bd0e2cc678e3c456468b10da5071d97e5d5906/DSCResources/MSFT_SecurityOption/MSFT_SecurityOption.schema.mof#L68

This definition in the descriptions breaks the conversion with the error listed below, if I remove the definition
 --> EmbeddedInstance("MSFT_RestrictedRemoteSamSecurityDescriptor") then the below error does not appear.

Write-Error: I

[2022-03-03 08:33] rezarms opened #180 "UserRightsAssignment :Could not convert Identity to SID"
I'm using Azure Automation account to deploy my dsc configs containing audit, security  and registries.
The only issue I have is with UserRightAssignment.

For example I'm using :
[code]
I get the below error

failed to execute Test-TargetResource functionality with error message: Could not convert Identity: Guests, Local Account to SID

#### Verbose logs showing the problem

"Message":  "Could no

[2022-04-10 17:17] Node0Chr opened #181 "Minimum_Password_Length, Minimum_length_password_audit, Relax_minimum_password_length_limits"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue
[code]

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)

[code]

#### The operating system the target node is running

#### Version and build of PowerShell the target node is running

#### Version of the DSC m

[2022-05-23 09:06] ldhami opened #182 "UserRightsAssignment threw one or more non-terminating errors while running the Test-TargetResource functionality"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)

[code]

#### The operating system the target node is running

#### Version and build of PowerShell the target node is running

#### Version of the DSC module t

[2022-07-26 14:05] nipansanjay opened #183 "Problem: 'MSFT_Security Option : MSFT_Security Option failed to execute Set-TargetResource failed to update security option´"
**Verbose logs showing the problem**
PowerShell DSC resource MSFT_SecurityOption failed to execute Set-TargetResource functionality with error message:
Failed to update security option
Interactive_logon_Do_not_display_last_user_name,
Microsoft_network_client_Digitally_sign_communications_always,
Microsoft_network_server_Digitally_sign_communications_always,
Microsoft_network_server_Digitally_sign_

[2022-07-27 03:47] KennethYCK opened #184 "Network_access_ Restrict_clients_ allowed_to_make_ remote_calls_to_SAM: convertfrom-gpo not ok"
Using SecurityPolicyDCS version 2.10 , and use convertfrom-GPO and generate below item and change to mof will have error message
[code]

Error message:
Convert Property 'Network_access_ Restrict_clients_ allowed_to_make_ remote_calls_to_SAM' value from type 'String[]' to tye 'instance[]' failed

[2022-11-22 14:58] ixcdevops commented on #177
I have seen this fail to apply when the account_lockout_duration is set to 0 in the configuration.  If you update the dscresource module 'MSFT_AccountPolicy.psm1' to accept the range of values for this option to be (-1,99999) instead of (0,99999) for both the Set-TargetResource and Test-TargetResource functions.   These are around lines 118 and 293 in the source.